html,
body {
    background-color: #35495e;
    color: #eee;
}

#app{
    display: block;
    text-align: center;
}

#count{
    font-size: 3rem;
    font-weight: bold;
}

.buttom {
    background-color: #41b883;
    border: none;
    padding: 1rem;
    color: snow;
    font-weight:bold;
    font-size: 1rem sandybrown;
    margin: 0 0.5rem;
}

.buttom:hover{
    cursor: pointer;
    background-color: #379c6f;
}